<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tyre24</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{{asset('bundles/tyretyre/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/tyretyre/css/bootstrap-responsive.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/tyretyre/css/parsley/parsley.css')}}" rel="stylesheet">
{%block stylesheets %}
{%endblock%}
        </head>

        <body>

{%block container %}
{%endblock%}

        </body>
    </html>